:root {
    --blue: #3511C6;
    --cyan: #00C9D6 ;
}

.routineContainer{
    margin-top: 10px;
    margin-inline: auto;
    width: 90%;
    height: 80vh;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    padding: 1vw;
}

#routineTitle{
    text-align: center;
    font-size: 32px;
}

#routineCreator{
    text-align: center;
    font-size: 12px;
    opacity: 60%;
}

.routineInsideContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    gap: 1.5vw;
    flex-wrap: wrap;
}
.exerciseContainer{
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    flex-shrink:3;
}

.exName{
    font-size:1.7vw;
    text-align: center;
    flex-shrink:3;
    font-weight: bold;
}

.exDuration{
    font-size: 1.7vw;
    text-align: center;
}